*{
	padding: 0px;
	margin: 0px;
}

.pro-body-navbar{width: 100%;height: 40px;}

.main-menu {
	width: 1349px;
	height: 80px;
	left: 50%;
  	transform: translate(-50%);
	background-color: transparent;
	z-index: 1;
	margin-top: 0px;
	position: absolute;
}
.main-menu .main-menu-dimension {
	background-color: transparent;
	width: 1049px;
	height: 80px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
  	transform: translate(-50%);
	padding-top: 20px;
	align-items: center;
	justify-content: center;
}

.main-menu ul {
	list-style: none;
}
.main-menu ul li {
	float: left;
	color: white;
	font-family: arial;
	line-height: 30px;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	width: 200px;
}

.main-menu ul li a {
	text-decoration: none;
	color: white;
	background-color: transparent;
	padding-left: 60px;
	padding-right: 60px;
}
.main-menu ul li a:hover {
	color: #4cd707;
}

.main-menu .main-menu-dimension ul li ul {
	display: none;
}
.main-menu .main-menu-dimension ul li ul li a {
	color: white;
	font-size: 13px;
}
.main-menu .main-menu-dimension ul li ul li a:hover {
	color: #4cd707;
}
.main-menu .main-menu-dimension ul li:hover ul {
	display: block;
	text-align: center;
	transition: .3s;
	display: grid;
}
.main-container
{
	width: 1300px;
	height: 90vh;
	margin: auto;
	padding: auto;
}

.body-container
{
  background-color: transparent;
	width: 100%;
	height: 600px;
	margin-top: 0px;
}

.header
{
  background-color: #fff;
	width: 100%;
	height: 40px;
  z-index: 1000;
  position: fixed;
}
.dimension
{
  width: 1350px;
  height: 40px;
  line-height: 40px;
	position: fixed;
	z-index: 1000000;
  left: 50%;
  transform: translate(-50%);
}
.navbar-menu ul
{
	float: right;
}
.navbar-menu ul li
{
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
	font-family: arial;
}
.navbar-menu ul li a
{
	text-decoration: none;
	color: black;
	transition: .3s;
}
.navbar-menu ul li.active a
{
	color: #4cd707;
	border-bottom: 1px solid #4cd707;
	transition: .3s;
}
.navbar-menu ul li a:hover
{
	color: #4cd707;
	border-bottom: 1px solid #4cd707;
	transition: .3s;

}

.footer-body {
    width: 1350px;
    height: 600px;
    background-color: #262626;     /*#262626*/
	margin-left: auto;
    margin-right: auto;
}

.footer-body .section1 {
    width: 1350px;
    height: 70px;
    background-color: #f7f7f7;       /*   #f7f7f7    */
}
.footer-body .section2 {
    width: 1350px;
    height: 80px;
    background-color: white;

}
.footer-body .section2 .section-inner{

    display: grid;
    height: 100px;
    width: 1249px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: transparent;
    grid-template-columns: 410px 410px 410px;
    grid-template-rows: 80px 80px;
    grid-gap: 10px;
    transition: .2s;
}

.footer-body .section2 .section-inner .inner-parts{
    background-color: transparent;
    padding-top: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: arial;
}

.footer-body .footer-container {
    width: 1249px;
    height: auto;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
	margin-top: 40px;
}

.footer-body .footer-container ul {
    list-style: none;
}

.footer-body .footer-container ul a {
    text-decoration: none;
		color: #9E9C9C;
}
.footer-body .footer-container ul a:hover
{
	color: #4cd707;
	border-bottom: 1px solid #4cd707;
}
.footer-body .footer-container ul li {

    float: left;
    color: white;
    width: 208px;
    height: auto;
    color: #9E9C9C;
		font-family: arial;
    line-height: 30px;
    background-color: transparent;
		font-size: 13px;
    /* text-align: center; */
}

.footer-body .footer-container .red {
    width: 1249px;
    height: 2px;
    background-color: #9E9C9C;
    position: absolute;
    margin-top: 300px;
    border-radius: 50px;
    font-family: arial;
}
